<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>

    <link rel="stylesheet" href="<%= assets['vmarkdown-editor-vendors'].css %>">
    <link rel="stylesheet" href="<%= assets['vmarkdown-editor'].css %>">

    <style type="text/css" media="screen">

        html, body{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        #editor {
            position: relative;
            width: 100%;
            height: 100%;
        }

    </style>

</head>
<body>

<div id="editor"></div>

<script src="<%= assets['vmarkdown-parse'] %>"></script>
<script src="<%= assets['vmarkdown-editor-vendors'].js %>"></script>
<script src="<%= assets['vmarkdown-editor'].js %>"></script>

</body>
</html>
